/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require datatables.min
*= require grails
*= require main
*= require mobile
*= require bootstrap
*= require exa-datatables-bootstrap3
*= require_self
*/

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.jumbotron {
    background: #2c3e50;
    color: #ecf0f1;
    border-radius: 0px!important;
    background-image: url("http://aboutit.co.za/wp-content/uploads/2016/03/ERP.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size:cover;
    background-position: center;
    position: relative;
    z-index: 10;
}

.jumbotron::before {
    content: '';
    z-index: -1;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height:100%;
    left:0;
    top:0;
    position: absolute;
}

body {
    background: #ecf0f1;
}

.container {
    background: white;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Josefin Sans', sans-serif !important;
}

* {
    font-family: 'Cabin', sans-serif !important;
}